<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="{{url_for('index')}}">Home</a>
                </li>
                <li>
                    <a href="{{url_for('employee')}}">Employee List</a>
                </li>
                <li>
                    <a href="{{url_for('history')}}">History</a>
                </li>
            </ul>
        </div>
    </nav>

    <table>
        <tbody>
            {% for date in dates %}
            <tr>
                <td>
                    <a href="{{url_for('report_list', start_date=date)}}">
                        {{ date }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</body>

</html>